* {
    font-family: 'Roboto',sans-serif;
    margin: 0;
    padding: 0;
}

/* style for header portion with blue background */

.header-container {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.header-1 {
    display: flex;
    flex: 1;
    padding: 1%;
    margin: 0 15%;
    align-items: baseline;
}

.logo {
    flex: 1;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.links {
    flex: 1;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    text-align: right;
}
.link {
    flex: 1;
}

.header-2 {
    display: flex;
    flex: 1;
    padding: 1%;
    margin: 5% 15%;
    align-items: center;
    gap: 30px;
}

.left {
    flex: 1;
    margin-right: 30px;
}

.hero {
    flex: 1;
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 3px;
}

.subtext {
    flex: 1;
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 10px;
}

.signup {
    flex: 1;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid #3882f6;
    padding: 5px 25px;
}

.right img {
    flex: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 250px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

/* style for middle portion with white backgruond and boxes */

.info-header {
    font-size: 36px;
    color: #1f2937;
    font-weight:bolder;
    text-align: center;
    margin: 2.5%;
}

.boxes-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.boxes {
    display: flex;
    flex: 1;
    padding-bottom: 1%;
    margin: 0 15%;
    justify-content: center;
    gap: 80px;
}

.box-item img{
    flex: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.caption {
    display: flex;
    flex: 1;
    margin: 0 15%;
    justify-content: center;
    gap: 80px;
}

.caption-subtext {
    height: 250px;
    width: 200px;
    color: #3d5281;
    font-size: 18px;
    text-align: center;
}