* {
    font-family: 'Roboto',sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e5e7eb;

}

/* style for header portion with blue background */

.header-container {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.header-1 {
    display: flex;
    flex: 1;
    padding: 1%;
    margin: 0 15%;
    align-items: baseline;
    background-color: #1f2937;
}

.logo {
    flex: 1;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    background-color: #1f2937;
}

.links {
    flex: 1;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    text-align: right;
    background-color: #1f2937;
}
.link {
    flex: 1;
    background-color: #1f2937;
}

.header-2 {
    display: flex;
    flex: 1;
    padding: 1%;
    margin: 5% 15%;
    align-items: center;
    gap: 30px;
    background-color: #1f2937;
}

.left {
    flex: 1;
    margin-right: 30px;
    background-color: #1f2937;
}

.hero {
    flex: 1;
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 3px;
    background-color: #1f2937;
}

.subtext {
    flex: 1;
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: #1f2937;
}

.signup-1, .signup-2 {
    flex: 1;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid #3882f6;
    padding: 5px 25px;
}

.right{
    background-color: #1f2937;
}

.right img {
    flex: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 250px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

/* middle portion header */

.info-header {
    font-size: 36px;
    color: #1f2937;
    font-weight:bolder;
    text-align: center;
    margin: 2.5%;
}

/* middle portion boxes */

.boxes-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.boxes {
    display: flex;
    flex: 1;
    padding-bottom: 1%;
    margin: 0 15%;
    justify-content: center;
    gap: 80px;
}

.box-item img{
    flex: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

/* image captions */


.caption {
    display: flex;
    flex: 1;
    margin: 0 15%;
    justify-content: center;
    gap: 80px;
}

.caption-subtext {
    height: 50px;
    width: 200px;
    font-size: 18px;
    text-align: center;
}

/* quote section */

.quote {
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
    text-align: left;
    color: #1f2937;
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
}

.author {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    background-color: #e5e7eb;
    color: #1f2937;
    margin-top: 0.5%;
    margin-left: 25%;
    margin-right: 27%;
}

/* call to action */

.call-container {
    display: flex;
    border-radius: 10px;
    background-color: #3882f6;
    padding: 40px 80px;
    margin: 0 19%;
    margin-top: 180px;
    margin-bottom: 100px;
}

.call-left {
    flex: 1 2 auto;
    display: flex;
    flex-direction: column;
    background-color: #3882f6;
}

.call-header{
    flex: 1;
    color: #f9faf8;
    background-color: #3882f6;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 3px;
}

.call-left .subtext {
    background-color: #3882f6;
}

.call-right {
    display: flex;
    flex: 1;
    background-color: #3882f6;
    align-items: center;
    flex-direction: column;

}

.signup-2 {
    margin: 15px;
    border: 1px solid #f9faf8;

}

/* footer */

.footer {
    color: #e5e7eb;
    font-size: 18px;
    text-align: center;
    background-color: #1f2937;
    padding: 45px;
}