* {
    font-family: 'Roboto',sans-serif;
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.header-1 {
    display: flex;
    flex: 1;
    padding: 1%;
    margin: 0 15%;
    align-items: baseline;
}

.logo {
    flex: 1;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.links {
    flex: 1;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    text-align: right;
}
.link {
    flex: 1;
}

.header-2 {
    display: flex;
    flex: 1;
    padding: 1%;
    margin: 7.5% 15%;
    align-items: center;
}

.left {
    flex: 1;
}

.hero {
    flex: 1;
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 3px;
}

.subtext {
    flex: 1;
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 10px;
}

.signup {
    flex: 1;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid #3882f6;
    padding: 5px 25px;
}

.right .img{
    flex: 1;
}

img{
    flex: 1;
    height: auto;
    width: 390px;
}